#header{
    background-color: lightblue;
    width:100%;
    height:50px;
    overflow: hidden;
    text-align: center;
}

#header a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#footer{
    clear:both;
    display: block;
    position:inherit;
    height: 150px;
    width: 100%;
    /* text-align: center; */
    background-color: rgb(15, 25, 29);
}

#main{
    min-height: 700px;
    float:left;
    width:100%;
}

#data-stream{
    margin-top: 20px;
    font-size:larger;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
}

#footer-id{
    font-family:'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
    /* top: 200px; */
}

#footer-id-a{
    top: 200px;
    color: rgb(26, 197, 183);
    text-decoration: none;
}

#analog-clock{
    margin-top: 50px;
    /* align-items: center; */
    /* align-content: center; */
}

#timestamp-epoch{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:40px;
}

#title-epoch{
    font-family:Arial, Helvetica, sans-serif;
    min-height: 1rem;
    font-size:30px;
    margin-top: 50px;
}

#input-timestamp{
    overflow: hidden;
    width: 100%;
    font-size: 1em;
    background: #fff;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    padding: .67857143em 1em;
    line-height: 1.21428571em;
}

#btn-timestamp{
    display:inline-block;
    padding:0.7em 1.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative;
}

#btn_timestamp:active{
   box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

th, td {
    padding: 15px;
}

#table-input{
    width: 100%;
}

#table-input-1{
    width: 100%;
}

.table-row-1{
    background-color: rgb(158, 188, 189);
}

.table-row-2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;
}